* *:before *:after {
  box-sizing: border-box;
  display:block;
}

body {
border: 3px red solid;
background-color: #dadada
padding: 10px 20px 10px 200px;
}

h3, .baku, .london, .madrid, .rome {
  background-position:center;
  background-size:250%;
  line-height: 600px;
  width: 400px;
  margin-left: 200px;
  text-align: left;
  text-indent: 30px;
  font-style:normal;
  font-size: 22px;
  font-family: times serif;
  font-weight:525;
  display:block;
}

.baku h3 {
  border: 3px orange solid;
  background-image: url("../images/baku.jpg");
}

.london h3 {
  border: 3px orange solid;
  background-image: url("../images/london.png");
}

.madrid h3 {
  border: 3px orange solid;
  background-image: url("../images/madrid.jpg");
  }

.rome h3 {
  border: 3px orange solid;
  background-image: url("../images/rome.jpg");
  }

.container {
  border: 2px green solid;
  background-color: lightgray;
  display:block;
  width: 500px;
  padding: 10px 400px 10px 200px;
  margin-top: 10px;
}

.container h1 {
  border: 3px blue solid;
  margin-top: 10px;
  margin-left: 600px;
  width: 250px;
  text-align: center;
  font-style:normal;
  font-family: sans-serif;
  font-weight: normal;
  display:block;
}

 @media query screen and (min-width: 575px) {

 }
