* *:before *:after {
  box-sizing: border-box;
  display:block;
}

body {
border: 1px red solid;
background-color: #dadada
}

img {
  border: 5px pink solid;
  width: 500px;
  image: url("../images/baku.jpg");
}

.baku {
  border: 4px purple solid;
  text-align: left;
  text-indent: 40px;
  font-style:normal;
  font-family: times serif;
  font-weight: normal;

}

.container {
  border: 2px green solid;
  background-color: lightgray;
  display:block;
  width: 500px;
}

.container h1 {
  border: 3px blue solid;
  text-align: left;
  text-indent: 40px;
  font-style:normal;
  font-family: sans-serif;
  font-weight: normal;
}



 @media query screen and (min-width: 575px) {

 }
